<!DOCTYPE html>
<html>
  <head>
    <title>Presentation Layer</title>
  </head>
  <style>
      h1 {text-align: center;}
	  p {text-align: center;}
	  div {text-align: center;}
      body {
          background-image: url(https://miro.medium.com/v2/resize:fit:720/format:webp/1*GsImz-edoeuqCMfKxDus0w.jpeg);
          no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         no-background-size: cover;
         background-size: cover;

      }

  </style>
     <body>
        <h1>Welcome, We will Present you our weather app.</h1>
        <p>This is a weather app. A weather app will show you what the weather will be today, tomorrow, and the future.
        It also will tell you if it is going to rain, thunderstorm, tornado, etc.
        Knowing the weather in the coming future is very important so that you know what to wear if it is hot,
        cold, raining, and many more. With this app, you prepare yourself, families members and you friends for the
		up coming future weather.
        </p>
		
		<p> To go to the the welcome page click the home buttton.</p>
		<div
		href="C:\Users\jordan22\Documents\Welcome.html">
        <button class="Welcome.html">HOME</button>
		</div>
		
		
        <p>To directly go to the login page, click the login button.</p>
		<div
		href="C:\Users\jordan22\Documents\Login.html">
        <button class="Login.html">LOGIN</button>
		</div>
        
     </body>
</html>
